/*start Global Rules*/

html{

    scroll-behavior: smooth;

}

body{

    font-family: "Cairo", sans-serif;
    max-width: 1366px;
    margin: 0px auto ;
    width: 100%;
}

:root{

    --mianColor: purple;
    --section-background: #ececec;
    --paragraphColor: #777;
    --marginOfBetweenSubjects: 150px;
    --marginOfBigScreen: 50px;
    --marginOfMiddleScreen: 30px;
    --marginOfSmallScreen: 10px;
    --fontOfBigScreen: 20px;
    --fontOfMiddleScreen: 17px;
    --fontOfSmallScreen: 14px;
    --fontIconOfBigScreen: 40px;
    --fontIconOfMddleScreen: 30px;
    --fontIconOfSmallScreen: 25px;

}

/*end Global Rules*/

/*start components*/

@keyframes change-color {

0% {
    color: var(--mianColor);
 }

100% {
    color: none;
 }

}

@keyframes remove-image {

0% {
    transform: translate(0px,20px);
 }

50% {
    transform: translate(0px,-20px);
 }

100%{

    transform: translate(0px,20px);
}
}

@keyframes go-down {

0% {
    transform: translate(0px,10px);
 }

15% {
    transform: translate(0px,-10px);
 }

50%{
    transform: translate(0px,10px);
}

100%{

    transform: translate(0px,-10px);
}
}

@keyframes arrow-of-articles{

    0%{
        transform: translate(-15px,0px);
    }

    100%{

        transform: translate(0px,0px);
    }

}

.mainTitle{

    display: flex;
    justify-content: center;
    margin-bottom: var(--marginOfBigScreen);

}

.mainTitle h1 {

    position: relative;
    padding: 10px 20px;
    font-size: var(--fontIconOfBigScreen);
    border: black 3px solid;

}

.mainTitle h1:hover {

    background-color: var(--mianColor);
    color: white;
    transition: .4s;
    border-color: transparent;

}

@media(max-width:950px) {
.mainTitle h1{

    font-size: var(--fontOfMiddleScreen);

}
}

@media(max-width:950px) {
.mainTitle h1{

    font-size: var(--fontOfMiddleScreen);

}
}

.mainTitle h1::before {

    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    top: 15px;
    background-color: var(--mianColor);
    left: -30px;
    border-radius: 50%;
    transition: .5s;

}

@media(max-width:950px){
.mainTitle h1::before {

    height: 10px;
    width: 10px;
    left: -20px;

}
}

.mainTitle h1:hover::before {

    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    top: 15px;
    background-color: var(--mianColor);
    left: 5px;
    border-radius: 50%;

}

@media(max-width:950px){
.mainTitle h1:hover::before {

    height: 10px;
    width: 10px;

}
}

.mainTitle h1::after {

    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    top: 15px;
    background-color: var(--mianColor);
    right: -30px;
    border-radius: 50%;
    transition: .5s;

}

@media(max-width:950px){
.mainTitle h1::after {

    height: 10px;
    width: 10px;
    right: -20px;

}
}

.mainTitle h1:hover::after {

    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    top: 15px;
    background-color: var(--mianColor);
    right: 5px;
    border-radius: 50%;

}

@media(max-width:950px){
.mainTitle h1:hover::after {

    height: 10px;
    width: 10px;

}
}

/*start components*/

/*Strat Home Page*/

.HomePage{

    margin-bottom: var(--marginOfBigScreen);
    background-color: var(--section-background);
    height: 95vh;
    border-bottom-right-radius: 100%;

}

@media(max-width: 950px){
.HomePage{

    border-bottom-right-radius: 50%;

}
}

/*Start Header*/

header {

    background-color: white;
    box-shadow: 0px -20px 15px 15px black;

}

header .container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--fontOfBigScreen);
    margin: 0px var(--marginOfBigScreen) var(--marginOfBigScreen);

}

@media(max-width: 950px) {
header .container {

    flex-direction: column;
    font-size: var(--fontOfMiddleScreen);
    margin: 0px var(--marginOfMiddleScreen) var(--marginOfMiddleScreen);
    padding-bottom: 10px;

}
}

@media(max-width: 550px) {
header .container {

    font-size: var(--fontOfSmallScreen);
    margin: 0px var(--marginOfSmallScreen) var(--marginOfSmallScreen);
}
}

header .nameOfWebSite {

    color: var(--mianColor);

}

header .TitlesOfWebSite a {

    position: relative;
    padding: 20px;
    animation-duration: 10s;

}

@media(max-width: 950px) {
header .TitlesOfWebSite a {

    padding: 5px;

}
}

header .TitlesOfWebSite a:hover {

    background-color: var(--section-background);
    animation-name: change-color;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

header .TitlesOfWebSite a::before {
 
    content: "";
    width: 0%;
    position: absolute;
    left:0px;
    top:-9px;
    border: transparent 5px solid;
    transition: 1s;

}

@media(max-width: 950px){
header .TitlesOfWebSite a::before {

    width: 0%;
    top: -6px;
    border: transparent 4px solid;

}
}

@media(max-width: 550px){
header .TitlesOfWebSite a::before {

    width: 0%;
    top: -3px;
    border: transparent 2px solid;

}
}

header .TitlesOfWebSite a:hover::before {

    width: 100%;
    border: var(--mianColor) 5px solid;

}

@media(max-width: 950px){
header .TitlesOfWebSite a:hover::before {

    width: 100%;
    border: var(--mianColor) 4px solid;

}
}

@media(max-width: 550px){
header .TitlesOfWebSite a:hover::before {

    width: 100%;
    border: var(--mianColor) 2px solid;

}
}

/*End Header*/

/*Start landing*/

.landing{

    margin:var(--marginOfBigScreen);

}

@media(max-width:950px) {
.landing{

    margin: var(--marginOfMiddleScreen);
}
}

@media(max-width:550px) {
.landing{

    margin:var(--marginOfSmallScreen);

}
}

.landing .container {

    display: flex;
    align-items: center;

}

@media(max-width:950px){
.landing .container {

    text-align: center;
    height: 400px;

}
}

.landing .hero {

    font-size: var(--fontOfBigScreen);
    line-height: 1.8;

}

@media(max-width:950px) {
.landing .hero {

    font-size: var(--fontOfMiddleScreen);

}
}

@media(max-width:550px) {
.landing .hero{

    font-size: var(--fontOfSmallScreen);

}
}

.landing h1{

    color: var(--mianColor);
    display: inline;

}

.landing p{

    color: var(--paragraphColor);
    
}

.landing  img {

    width: 50%;
    animation-name: remove-image;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@media(max-width:950px) {
.landing  img {

    display: none;

}
}

/*End landing*/

.HomePage i{

    display: flex;
    justify-content: center;
    color: var(--mianColor);
    animation-name: go-down;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    font-size: var(--fontIconOfMddleScreen);

}
/*End Home Page*/

/*Start articles*/

.articles{

    margin: var(--marginOfBetweenSubjects) var(--marginOfBigScreen);

}

@media(max-width:950px){
.articles{

    margin: var(--marginOfBetweenSubjects) var(--marginOfMiddleScreen);

}
}

@media(max-width:550px){
.articles{

    margin: 0px var(--marginOfSmallScreen);

}
}

.articles .cardsOfArticles{

    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto auto;

}

@media(max-width:950px){
.articles .cardsOfArticles{

    display: grid;
    grid-template-columns: auto auto;

}
}

@media(max-width:550px){
.articles .cardsOfArticles{

    display: grid;
    grid-template-columns: auto;

}
}

.cardsOfArticles .Articles-Card{

    display: grid;
    gap: 10px;
    width: fit-content;
    box-shadow: 0px 0px 10px -5px black;
    font-size: var(--fontOfMiddleScreen);
    transition: .5s;

}

@media(max-width:550px){
.cardsOfArticles .Articles-Card{

    font-size: var(--fontOfSmallScreen);

}
}

.cardsOfArticles .Articles-Card:hover{

    transform: translate(0px,-10px);

}

.text-of-card div{

    display: flex;
    justify-content: space-between;
    border-top: var(--section-background) 1px solid;

}

.Articles-Card img{

   width: 100%;

}

.text-of-card h3{

    color: var(--mianColor);
    padding: 0px 10px;

}

.text-of-card p{

    padding: 0px 10px;
    color: var(--paragraphColor);
    line-height: 1.5;

}

.text-of-card a{

    padding: 15px 10px;
    color: var(--mianColor);
    font-weight: bold;

}

.text-of-card i{

    display: flex;
    align-items: center;
    color: var(--mianColor);
    transform: translate(-15px,0px);

}

.Articles-Card:hover .text-of-card i{

    animation-name: arrow-of-articles;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 

}

/*End articlese*/

/*start gallery*/

.gallery{

    background-color: var(--section-background);

}

.gallery .container{

    margin: var(--marginOfBigScreen);
    padding:var(--marginOfBigScreen) 0px;

}

@media(max-width: 950px){
.gallery .container{

    margin: var(--marginOfMiddleScreen);

}
}

@media(max-width: 550px){
.gallery .container{

    margin:var(--marginOfSmallScreen);

}
}

.gallery .gallery-images{

    display: grid;
    gap: 30px;
    grid-template-columns: auto auto auto;
    
}

@media(max-width: 950px){
.gallery .gallery-images{

    display: grid;
    gap: 20px;
    grid-template-columns: auto auto;
    
}
}

@media(max-width: 550px){
.gallery .gallery-images{

    display: grid;
    gap: 10px;
    grid-template-columns: auto;

}
}

.gallery-images div{

    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 10px -5px black;
    
}

.gallery-images div::after{

    content: "";
    position: absolute;
    width:50px;
    height:50px;
    left: 50%;
    top: 50%;
    transition: .3s;
    
}

.gallery-images div:hover::after{

    background-color: rgba(255, 255, 255, 0.178);
    transform: scale(10);
    
}

.gallery img{

    width: 100%;
    transition: 0.5s;  

}

.gallery-images div:hover img{

    transform: scale(1.1) rotate(5deg);
    
}

/*End gallery*/

/*Start Features*/

.features .container{

    margin: var(--marginOfBigScreen);

}

@media(max-width:950px){
.features .container{

    margin: var(--marginOfMiddleScreen);

}
}

@media(max-width:550px){
.features .container{

    margin: var(--marginOfSmallScreen);

}
}

.features .features-type{

    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto;

}

@media(max-width:950px){
.features .features-type{

    display: grid;
    grid-template-columns: auto;

}
}

.features-type .feature{

    display: grid;
    gap: 20px;
    text-align: center;
    border: var(--paragraphColor) 1px solid;
    font-size: var(--fontOfBigScreen);

}

@media(max-width:950px){
.features-type .feature{

    font-size: var(--fontOfMiddleScreen);

}
}

@media(max-width:550px){
.features-type .feature{

    font-size: var(--fontOfSmallScreen);

}
}

.feature-img{

    position: relative;

}

.feature .color-of-features-images-1{

    position: absolute;
    background-color: #f43f3685;
    width: 100%;
    height: 100%;

}

.feature .color-of-features-images-1::after{

    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5%;
    background-color: white;

}

.feature .color-of-features-images-2{

    position: absolute;
    background-color: #00968783;
    width: 100%;
    height: 100%;

}

.feature .color-of-features-images-2::after{

    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5%;
    background-color: white;

}

.feature .color-of-features-images-3{

    position: absolute;
    background-color: #03a8f479;
    width: 100%;
    height: 100%;

}

.feature .color-of-features-images-3::after{

    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5%;
    background-color: white;

}

.feature img{

    width: 100%;

}

.feature span{

    font-weight: bold;
    font-size: var(--fontIconOfMddleScreen);
    position: relative;

}

.feature .title-of-feature-1::before{

    content: "";
    position: absolute;
    bottom: -10px;
    width: 100px;
    height: 5px;
    background-color: #f44036;

}

.feature .title-of-feature-2::before{

    content: "";
    position: absolute;
    bottom: -10px;
    width: 100px;
    height: 5px;
    background-color: #009688;

}

.feature .title-of-feature-3::before{

    content: "";
    position: absolute;
    bottom: -10px;
    width: 100px;
    height: 5px;
    background-color: #03a9f4;

}

@media(max-width:550px){
.feature span{

    font-size: var(--fontIconOfSmallScreen);

}
}

.feature p{

    color: var(--paragraphColor);
    padding: 0px 20px;

}

.feature .feature-link-1{

    position: relative;
    color: #f44036;
    padding: 10px 30px;
    margin: 21px auto;
    border: 3px solid hsl(3, 90%, 58%);
    border-radius: 6%;
    transition: .5s;
    font-weight: bold;

}

.feature:hover .feature-link-1{

    color: white;
    background-color: #f44036;

}

.feature .feature-link-2{

    position: relative;
    color: #009688;
    padding: 10px 30px;
    margin: 21px auto;
    border: 3px solid #009688;
    border-radius: 6%;
    transition: .5s;
    font-weight: bold;

}

.feature:hover .feature-link-2{

    color: white;
    background-color: #009688;

}

.feature .feature-link-3{

    position: relative;
    color: #03a9f4;
    padding: 10px 30px;
    margin: 21px auto;
    border: 3px solid #03a9f4;
    border-radius: 6%;
    transition: .5s;
    font-weight: bold;

}

.feature:hover .feature-link-3{

    color: white;
    background-color: #03a9f4;

}

/*End Features*/

/*Strat Testimonials*/

.Testimonials{

    background-color: var(--section-background);

}

.Testimonials .container{

    margin: var(--marginOfBigScreen);
    font-size: var(--fontOfMiddleScreen);

}

@media(max-width:950px){
.Testimonials .container{

    margin: var(--marginOfMiddleScreen);

}
}

@media(max-width:550px){
.Testimonials .container{

    margin: var(--marginOfSmallScreen);
    font-size: var(--fontOfSmallScreen);

}
}

.Testimonials .Cards-Of-Testimonials{

    padding: var(--marginOfBigScreen) 0px;
    display: grid;
    gap:30px;
    grid-template-columns: auto auto auto;

}

@media(max-width:950px){
.Testimonials .Cards-Of-Testimonials{

    display: grid;
    grid-template-columns: auto auto;

}
}

@media(max-width:750px){
.Testimonials .Cards-Of-Testimonials{

    display: grid;
    grid-template-columns: auto;

}
}

.Cards-Of-Testimonials .card{

    position: relative;
    background-color: white;
    padding: 0px 15px;

}

.Cards-Of-Testimonials .card img{

    position: absolute;
    right: 10px;
    border: solid 5px #ebebeb;
    top: -50px;
    width: 70px;
    border-radius: 60%;

}

.Cards-Of-Testimonials .card h3{

    color: var(--mianColor);

}

.Cards-Of-Testimonials .card i{

    color: gold;

}

.Cards-Of-Testimonials .card p{

    color: var(--paragraphColor);

}

/*End Testimonials*/

/*Strat Team-Members*/

.Team-Members .container{

    margin: var(--marginOfBigScreen);

}

@media(max-width:950px){
.Team-Members .container{

    margin: var(--marginOfMiddleScreen);

}
}

@media(max-width:550px){
.Team-Members .container{

    margin: var(--marginOfSmallScreen);

}
}

.Team-Members .images-of-team-mebers{

    display: grid;
    gap: 100px 50px;
    grid-template-columns: auto auto auto;

}

@media(max-width:1115px){
.Team-Members .images-of-team-mebers{

    display: grid;
    justify-content: center;
    gap: 70px 100px;
    grid-template-columns: auto auto;

}
}

@media(max-width:870px){
.Team-Members .images-of-team-mebers{

    display: grid;
    grid-template-columns: auto;

}
}

.images-of-team-mebers div{

    position: relative;

}

.images-of-team-mebers div::before{

    content: "";
    position: absolute;
    background-color: var(--section-background);
    top: -30px;
    left: 45px;
    width: 300px;
    height: 420px;
    border-radius: 5%;
    z-index: -1;

}

.images-of-team-mebers img{

    width: 300px;
    border-radius: 5%;
    transition: .5s;

}

.images-of-team-mebers img:hover{

    transform: scale(1.1) ;
    border-radius: 0%;

}

.images-of-team-mebers i{

    right: 50px;
    color:var(--paragraphColor);

}

@media(max-width:1115px){
.images-of-team-mebers i{

    right: -30px;
    color:var(--paragraphColor);
}
}

.images-of-team-mebers i:hover{

    color:var(--mianColor);

}

.images-of-team-mebers .facebook{

    position: absolute;
    top: 90px;

}

.images-of-team-mebers .twitter{

    position: absolute;
    top: 130px;

}

.images-of-team-mebers .linkedin{

    position: absolute;
    top: 170px;

}

.images-of-team-mebers .youtube{

    position: absolute;
    top: 210px;

}

.images-of-team-mebers h2{

    transform: translate(50px,0px);
    color:var(--mianColor)

}

.images-of-team-mebers p{

    transform: translate(50px,-5px);

}

/*End Team-Members*/

/*Start Services*/

.Services{

    background-color: var(--section-background);

}

.Services .container{

    margin: var(--marginOfBigScreen);

}

@media(max-width:950px){
.Services .container{

    margin: var(--marginOfMiddleScreen);

}
}

@media(max-width:550px){
.Services .container{

    margin: var(--marginOfSmallScreen);

}
}

.Services .skills{

    padding: var(--marginOfBigScreen) 0px;
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto auto;
    text-align: center;

}

@media(max-width:1115px){
.Services .skills{

    display: grid;
    grid-template-columns: auto auto;

}
}

@media(max-width:550px){
.Services .skills{

    display: grid;
    grid-template-columns: auto;

}
}

.Services .box{

    position: relative;
    background-color: white;
    box-shadow: 0px 0px 10px -5px black;
    transition: .5s;

}

.Services .box::before{

    content: "";
    position: absolute;
    background-color: var(--mianColor);
    left:0px;
    top:-5px;
    height:5px;
    width:0%;
    transition: .5s;

}

.Services .box:hover::before{

    width: 100%;

}

.Services .box:hover{

    transform: translate(0px,-10px);

}

.Services .box i{

    margin-top: 20px;
    color: var(--section-background);

}

@media(max-width:550px){
.Services .box i{

    font-size: var(--fontIconOfBigScreen);

}
}

.Services .box h2{

    margin: 20px 0px;
    color: var(--mianColor);
    font-size: var(--fontOfMiddleScreen);

}

@media(max-width:950px){
.Services .box h2{

    font-size: var(--fontOfSmallScreen);

}
}

.box .info-of-skill{

    display: flex;
    width:100%;
    background-color: var(--section-background);
    font-size: var(--fontOfBigScreen);

}

@media(max-width:950px){
.box .info-of-skill{

    font-size: var(--fontOfMiddleScreen);

}
}

.box .info-of-skill h2{

    margin: 0px;
    padding: 15px 0px;
    width: 15%;
    background-color: var(--mianColor);
    color: white;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;

}

.box .info-of-skill div{

    width: 15%;
    background-color: #7777773b;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;

}

.box .info-of-skill p{

    color: var(--mianColor);
    text-align: end;
    width: 70%;
    font-weight: bold;
    transform: translate(-5px,0px);

}

/*End Services*/

/*Start Our-Skills*/

.Our-Skills .container{

    margin: var(--marginOfBigScreen);

}

@media(max-width:950px){
.Our-Skills .container{

    margin: var(--marginOfMiddleScreen);

}
}

@media(max-width:550px){
.Our-Skills .container{

    margin: var(--marginOfSmallScreen);

}
}

.Our-Skills .type-of-our-skills{

    display: flex;

}

.type-of-our-skills .skills-type{

    display: flex;
    flex-direction: column;
    width: 100%;

}

@media(max-width:950px){
.type-of-our-skills img{

    display:none;
    
}
}

.skills-type .html-skill .rate .html-prog{

    position: relative;
    width: 100%;
    height: 25px;
    background-color: var(--section-background);

}

.skills-type .html-skill .rate .html-prog::before{

    content: "";
    position: absolute;
    left: 0px;
    background-color: var(--mianColor);
    width: 80%;
    height: 25px;

}

.skills-type .html-skill .rate .html-prog::after{

    content: "80%";
    position: absolute;
    color: var(--mianColor);
    background-color: var(--section-background);
    padding: 8px;
    top: -45px;
    left: 77%;
    border-radius: 20%;

}

.skills-type .css-skill .rate .css-prog{

    position: relative;
    width: 100%;
    height: 25px;
    background-color: var(--section-background);

}

.skills-type .css-skill .rate .css-prog::before{

    content: "";
    position: absolute;
    left: 0px;
    background-color: var(--mianColor);
    width: 85%;
    height: 25px;

}

.skills-type .css-skill .rate .css-prog::after{

    content: "85%";
    position: absolute;
    color: var(--mianColor);
    background-color: var(--section-background);
    padding: 8px;
    top: -45px;
    left: 81%;
    border-radius: 20%;

}

.skills-type .JavaScript-skill .rate .JavaScript-prog{

    position: relative;
    width: 100%;
    height: 25px;
    background-color: var(--section-background);

}

.skills-type .JavaScript-skill .rate .JavaScript-prog::before{

    content: "";
    position: absolute;
    left: 0px;
    background-color: var(--mianColor);
    width: 70%;
    height: 25px;

}

.skills-type .JavaScript-skill .rate .JavaScript-prog::after{

    content: "70%";
    position: absolute;
    color: var(--mianColor);
    background-color: var(--section-background);
    padding: 8px;
    top: -45px;
    left: 66%;
    border-radius: 20%;

}

.skills-type .Python-skill .rate .Python-prog{

    position: relative;
    width: 100%;
    height: 25px;
    background-color: var(--section-background);

}

.skills-type .Python-skill .rate .Python-prog::before{

    content: "";
    position: absolute;
    left: 0px;
    background-color: var(--mianColor);
    width: 80%;
    height: 25px;

}

.skills-type .Python-skill .rate .Python-prog::after{

    content: "80%";
    position: absolute;
    color: var(--mianColor);
    background-color: var(--section-background);
    padding: 8px;
    top: -45px;
    left: 77%;
    border-radius: 20%;

}

/*End Our-Skills*/