/*start Global Rules*/

html{

    scroll-behavior: smooth;

}

body{

    font-family: "Cairo", sans-serif;
    max-width: 1366px;
    margin: 0px auto ;
    width: 100%;
    font-size: 20px;
}

:root{

    --mianColor: purple;
    --marginOfBigScreen: 50px;
    --marginOfMiddleScreen: 30px;
    --marginOfSmallScreen: 10px;
    --fontOfBigScreen: 23px;
    --fontOfMiddleScreen: 18px;
    --fontOfSmallScreen: 14px;

}

/*end Global Rules*/

/*start components*/

@keyframes change-color {

0% {
    color: var(--mianColor);
 }

100% {
    color: none;
 }

}

/*start components*/

/*Strat Home Page*/

/*Start Header*/

header {

    margin: 0px var(--marginOfBigScreen) var(--marginOfBigScreen);

}

@media(max-width: 950px){
header {

    margin: 0px var(--marginOfMiddleScreen) var(--marginOfMiddleScreen);

}
}

@media(max-width: 550px){
header {

    margin: 0px var(--marginOfSmallScreen) var(--marginOfSmallScreen);

}
}


/*End Header*/

/*End Home Page*/