/*start Global Rules*/

html{

    scroll-behavior: smooth;

}

body{

    font-family: "Cairo", sans-serif;
    max-width: 1366px;
    margin: 0px auto ;
    width: 100%;
    font-size: 20px;
}

:root{

    --mianColor: purple;
    --marginOfBigScreen: 50px;
    --marginOfMiddleScreen: 30px;
    --marginOfSmallScreen: 10px;
    --fontOfBigScreen: 23px;
    --fontOfMiddleScreen: 18px;
    --fontOfSmallScreen: 14px;

}

/*end Global Rules*/

/*start components*/

@keyframes change-color {

0% {
    color: var(--mianColor);
 }

100% {
    color: none;
 }

}

/*start components*/

/*Strat Home Page*/

/*Start Header*/

header {

    margin: 0px var(--marginOfBigScreen) var(--marginOfBigScreen);

}

@media(max-width: 950px){
header {

    margin: 0px var(--marginOfMiddleScreen) var(--marginOfMiddleScreen);

}
}

@media(max-width: 550px){
header {

    margin: 0px var(--marginOfSmallScreen) var(--marginOfSmallScreen);

}
}

header .container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--fontOfBigScreen);

}

@media(max-width: 950px) {
header .container {

    flex-direction: column;
    font-size: var(--marginOfmiddleScreen);

}
}

@media(max-width: 550px) {
header .container {

    font-size: var(--marginOfSmallScreen);
}
}

header .nameOfWebSite h3 {

    color: var(--mianColor);

}

header .TitlesOfWebSite a {

    position: relative;
    padding: 20px;
    animation-duration: 10s;

}

@media(max-width: 950px) {
header .TitlesOfWebSite a {

    padding: 5px;

}
}

header .TitlesOfWebSite a:hover {

    background-color: #ddd;
    animation-name: change-color;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

header .TitlesOfWebSite a::before {
 
    content: "";
    width: 0%;
    position: absolute;
    left:0px;
    top:-9px;
    border: transparent 5px solid;
    transition: 1s;

}

@media(max-width: 950px){
header .TitlesOfWebSite a::before {

    width: 0%;
    top: -6px;
    border: transparent 4px solid;

}
}

@media(max-width: 550px){
header .TitlesOfWebSite a::before {

    width: 0%;
    top: -3px;
    border: transparent 2px solid;

}
}

header .TitlesOfWebSite a:hover::before {

    width: 100%;
    border: var(--mianColor) 5px solid;

}

@media(max-width: 950px){
header .TitlesOfWebSite a:hover::before {

    width: 100%;
    border: var(--mianColor) 4px solid;

}
}

@media(max-width: 550px){
header .TitlesOfWebSite a:hover::before {

    width: 100%;
    border: var(--mianColor) 2px solid;

}
}

/*End Header*/

/*End Home Page*/